[submodule "custom_nodes/ComfyUI-Manager"]
	path = custom_nodes/ComfyUI-Manager
	url = https://github.com/ltdrdata/ComfyUI-Manager.git
[submodule "custom_nodes/comfyui_controlnet_aux"]
	path = custom_nodes/comfyui_controlnet_aux
	url = https://github.com/Fannovel16/comfyui_controlnet_aux
[submodule "custom_nodes/ComfyUI-Impact-Pack"]
	path = custom_nodes/ComfyUI-Impact-Pack
	url = https://github.com/ltdrdata/ComfyUI-Impact-Pack
[submodule "custom_nodes/ComfyUI-Inspire-Pack"]
	path = custom_nodes/ComfyUI-Inspire-Pack
	url = https://github.com/ltdrdata/ComfyUI-Inspire-Pack
[submodule "custom_nodes/comfyui-portrait-master-zh-cn"]
	path = custom_nodes/comfyui-portrait-master-zh-cn
	url = https://github.com/ZHO-ZHO-ZHO/comfyui-portrait-master-zh-cn.git
[submodule "custom_nodes/ComfyUI-WD14-Tagger"]
	path = custom_nodes/ComfyUI-WD14-Tagger
	url = https://github.com/pythongosssss/ComfyUI-WD14-Tagger
